<!DOCTYPE html>
<html lang="en">
<head>
	<title>MUSIC_pedia</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
	.jumbotron{
		background-color: black;
		color: white;
		padding: 100px 125px;
	}
	.jumbotron p{
		border-left: 200px;
	}
</style>
<body>
	<div class="jumbotron text-center">
		<h1>MUSIC_pedia</h1>
	<br><br>
		<p>Welcome to the info-storehouse of the world of music. Get information about any musical album released so far and register with us to get latest updates about the musical sphere.</p>
	<br><br><br>
        <a href="{% url 'music:index' %}"><button type="button" class="btn btn-success ">Click to Enter</button></a>
	</div>
</body>
</html>